

.gridlist {
  background-color: #feba51;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
}

.terminal {
    width: 98%;
    height: 70%;
    font-size: larger;
    text-align: right;
    border-radius: 6px;
    padding-top: 15px;
    margin-top: 8px;
    background-color: rgb(15, 15, 16);
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
  }

.expression {
    @extend .terminal;
  }