
.calculator {
  background-color: #fcbd5e;
  display: flex;
  justify-content: center;
}

.mat-stroked-button{
  height: 80%;
  width: 90%;
  font-size: 4vw;
}

.gridlist {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: #feba51;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
}

.terminal {
    width: 98%;
    height: 70%;
    font-size: 4vw;
    text-align: right;
    border-radius: 6px;
    padding-top: 15px;
    margin-top: 8px;
    background-color: rgb(15, 15, 16);
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
  }

.expression {
    @extend .terminal;
  }