

<!-- Toolbar -->
<div class="toolbar" role="banner">
  toolbar
</div>

<div class="content" role="main">


      <!-- <div class="row calc-row">
        <div class="col col-smaller"><button class="calculator-btn calculator-btn-small-text" ng-click="touchRecall()">Recall</button></div>
        <div class="col col-smaller"><button class="calculator-btn calculator-btn-small-text" ng-click="touchClear()">Clear</button></div>
        <div class="col col-smaller"><button class="calculator-btn calculator-btn-small-text" ng-click="selectAdvancedOperator()"><i>f</i>(x)</button></div>
        <div class="col  col-smaller"><button class="calculator-btn" ng-click="touchDelete()">⌫</button></div>
      </div>

      <div class="row calc-row">
        <div class="col col-smaller"><button class="calculator-btn calculator-btn-small-text" ng-click="touchOpenBracket()">(</button></div>
        <div class="col col-smaller"><button class="calculator-btn calculator-btn-small-text" ng-click="touchCloseBracket()">)</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchPlusMinOperator()">±</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchOperator('/')">/</button></div>
      </div> -->

      <!-- <div class="row calc-row">
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDigit(7)">7</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDigit(8)">8</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDigit(9)">9</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchOperator('x')">x</button></div>
      </div>

      <div class="row calc-row">
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDigit(4)">4</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDigit(5)">5</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDigit(6)">6</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchOperator('-')">-</button></div>
      </div>

      <div class="row calc-row">
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDigit(1)">1</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDigit(2)">2</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDigit(3)">3</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchOperator('+')">+</button></div>
      </div>

      <div class="row calc-row">
        <div class="col col-50  col-smaller"><button class="calculator-btn" ng-click="touchDigit(0)">0</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchDecimalSeparator()">.</button></div>
        <div class="col col-smaller"><button class="calculator-btn" ng-click="touchEqualsOperator()">=</button></div>
      </div> -->

      <div class="calc-container">
        <div class="calc-row">
          <div class="calc-col">
            <div class="terminal">
              <pre>12 + 5 = 17</pre>
            </div>        
          </div>
        </div>

        <div class="calc-row row-cols-3">
          <div class="calc-col"><button class="calc-btn">7</button></div>
          <div class="calc-col"><button class="calc-btn">8</button></div>
          <div class="calc-col"><button class="calc-btn">9</button></div>
          <div class="calc-col"><button class="calc-btn">4</button></div>
          <div class="calc-col"><button class="calc-btn">5</button></div>
          <div class="calc-col"><button class="calc-btn">6</button></div>
          <div class="calc-col"><button class="calc-btn">1</button></div>
          <div class="calc-col"><button class="calc-btn">2</button></div>
          <div class="calc-col"><button class="calc-btn">3</button></div>
          <div class="calc-col"><button class="calc-btn">0</button></div>
          <div class="calc-col"><button class="calc-btn">1</button></div>
          <div class="calc-col"><button class="calc-btn">=</button></div>
        </div>
      </div>

        <!-- Footer -->
  <footer>
    From Amsterdam With Love&nbsp;
</footer>


</div>

