
<form [formGroup]="shareForm">

    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
  
    <label for="description">Description: </label>
    <input id="description" type="text" size="60" formControlName="description">
    <p>Provide a name to share the sheet.</p>
    <button type="submit" [disabled]="!shareForm.valid" (click)="share()">Share</button>
    <div></div>
    <label>Link that can be shared: </label>
    <input id="link" type="text" size="60" formControlName="link">
    <button [cdkCopyToClipboard]="shareForm.controls['link'].value" [disabled]="shareForm.controls['link'].value === ''">Copy to clipboard</button>
    <div>The shared sheet remains available for the next 2 weeks</div>
</form>