<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let expression"> {{expression.name}}</td>
    </ng-container>

    <ng-container matColumnDef="expression">
        <th mat-header-cell *matHeaderCellDef> Expression </th>
        <td mat-cell *matCellDef="let expression"> {{expression.asDisplay()}} </td>
    </ng-container>

    <ng-container matColumnDef="outcome">
        <th mat-header-cell *matHeaderCellDef> Outcome </th>
        <td mat-cell *matCellDef="let expression"> {{expression.outcome}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="editExpressionName(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>