<div class="toolbar" role="banner">
    <button mat-stroked-button (click)="clickShare()">Share</button>
    <button mat-stroked-button (click)="clickRetrieve()">Retrieve</button>
</div>


<mat-grid-list cols="5" rowHeight="100px" class="gridlist">
    <ng-container *ngFor="let expression of getExpressions()">
        <mat-grid-tile [colspan]="3" [rowspan]="1">{{expression.asDisplay()}}</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"> = </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">{{expression.outcome}}</mat-grid-tile>
    </ng-container>
</mat-grid-list>    